{% extends 'home.html' %} {% block body %}
<div class="row">
  {% for x in data.all %}
  <div
    class="col-md-3"
    class="span12"
    style="border: 2px solid rgb(129, 122, 122)"
  >
    <div class="thumbnail">
      <img src="{{x.locimage.url}}" alt="Lights" style="width: 90%" />
      <div class="caption">
        <p class="font-weight-bold">longitude : {{x.loc_lng}}</p>
        <hr />
        <p class="font-weight-bold">latitude : {{x.loc_lat}}</p>
        <hr />
        <a href="{% url 'update_cvdata' x.id %}" class="btn btn-primary "
          >update</a
        >
        <a
          href="{% url 'delete_cvdata' x.id %}"
          class="btn btn-danger "
          >delete</a
        >
        <p></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br />
<h4><a href="{% url 'cvmap' %}" class="btn btn-info">proceed to maps</a></h4>
<div class="col-md-4">
  <div class="form-group">
    <label>Fill out the data</label>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <input
        type="submit"
        value="Submit"
        class="btn btn-info btn-fill pull-right"
      />
    </form>
    <br />
  </div>
</div>
<br />
<h5>note: our project is still on development phase</h5>
<h5>
  this section will be automated with real IoT device cameras and locations will
  be sent and verified through our ML model automatically
</h5>
<h5>
  but as of now we are manual coordinates e.g lat= 23.8103, long= 90.4125
  by entering the latitude and longitude fields enter the coordinates and image one by one and the procees to map to see the coordinates and route optimization (image classification will classify image on basis of there is garbage or not if yes then coordinates will be sent and if no then data will be automatically delted)
</h5>
{% endblock body %}
